<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings><add name="HastaneYonetimSistemiEntities" connectionString="metadata=res://*/Entities.HYSEntities.csdl|res://*/Entities.HYSEntities.ssdl|res://*/Entities.HYSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UP0D5VP;initial catalog=HastaneYonetimSistemi;persist security info=True;user id=sa;password=12355;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>